input {
	height: 40px !important;
}

h2 {
	font-size: xx-large;
	font-weight: 700;
}

h3 {
	font-size: x-large;
	font-weight: 600;
}

.h4 {
	font-size: large;
	font-weight: 400;
	line-height: 1.8;
}

.error {
	color: rgb(255, 31, 31);
}

.sectionHeader {
	background-color: #02426f !important;
	color: white;
	border-radius: 5px;
}

input[type="checkbox"] {
	height: auto !important;
}


.white-icon {
    --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: none;
}

.text {
	line-height: 1.8;
}

table thead th {
	text-align: center;
	background: #eaeaea;
}

.noBottomtd {
	padding-bottom: 2px !important;
}

.addresscol{
	height: 250px !important;
}

.addresscard {
	background: rgba(247, 244, 244, 0.915);
	height: inherit;
}

.customInputIcon {
	background-color: rgb(128, 128, 128, 0.15) !important;
	border-width: thin !important;
	border-color: black !important;
	border-style: solid !important;
	border-radius: 5px !important;
}

.slds-text-title_bold {
	font-size: 1rem;
	font-weight: 700;
	color: white;
}

.customInput {
	border: unset !important;
	border-left: solid thin black !important;
	border-radius: 0px 5px 5px 0px !important;
}

.topBorder {
	border-top: 1px solid #A8A8A8;
}

.leftBorder {
	border-left: 1px solid #A8A8A8;
}

.bottomBorder {
	border-bottom: 1px solid #A8A8A8;
}

.customButton {
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: bold;
    font-size: medium;
	border: none;
    border-radius: 5px;
}

.successButton {
	background: green;
}

.errorButton {
	background: rgb(213, 23, 23);
}

.required {
	color: red;
}

pre {
	margin: 0% !important;
	overflow-y: hidden;
}

.main {
	background-color: white;
	padding-top : 5%;
}

.headerPadding {
	padding-top:200px;
}

.height40 {
	height: 40%;
}

.bgColor {
	background-color: rgba(247, 244, 244, 0.915);
}

.height60 {
	height: 60%;
}